@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

article{
	break-after: page;
}

/* Begin poetry */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:hymn"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:hymn"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:hymn"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}

p span.i7{
	padding-left: 8em;
	text-indent: -1em;
}

p span.i8{
	padding-left: 9em;
	text-indent: -1em;
}

p span.i9{
	padding-left: 10em;
	text-indent: -1em;
}
/* End poetry */

/* Begin bridgeheads */
[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

[epub|type~="z3998:poem"] [epub|type~="bridgehead"],
[epub|type~="z3998:hymn"] [epub|type~="bridgehead"]{
	text-align: justify;
}
/* End bridgeheads */

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}

header [epub|type~="epigraph"] cite{
	font-variant: small-caps;
}
/* End epigraphs in section headers */

footer{
	font-variant: small-caps;
	margin-top: 1em;
}

footer time{
	font-variant: normal;
}

#betrayed strong:nth-of-type(2){
	text-transform: uppercase;
}

#the-wandering-jew [epub|type~="epigraph"]{
	margin-top: 1em;
}

#a-novel-of-color section header p{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}
